<div fxLayout="row" class="m15" fxLayoutAlign="center center">
	<md-card fxFlex="100" fxFlex.sm="60" fxFlex.gt-sm="40">
		<div *ngIf="verifying">
			<div fxLayout="row" fxLayoutAlign="center">
				<md-spinner color="warn" strokeWidth="2" [ngStyle]="{'width':'80px'}"></md-spinner>
			</div>
			<div fxLayout="row" fxLayoutAlign="center">
				Verifying your email...
			</div>
		</div>
		<div *ngIf="!verifying">
			<div fxLayout="row" fxLayoutAlign="center" class="mb10">{{msg}}</div>
			<div *ngIf="verification" fxLayout="row" fxLayoutAlign="center"><button md-raised-button color="primary" routerLink="/user/login"> Login</button></div>
		</div>
	</md-card>
</div>

