<h2 md-dialog-title>Photograph</h2>
<md-dialog-content>
	<div class="choose-image" fxLayout=row fxLayoutAlign="center center" *ngIf="!model.photograph.image">
		<input id="fileInput" type="file" style="display:none;" (change)='upload($event)'>
		<button md-raised-button color="accent">
			<label for="fileInput">Choose Image</label>
		</button>
	</div>
	<div fxLayout=row fxLayoutAlign=center>
		<div [hidden]="!model.photograph.image">
			<img-cropper #cropper [image]="model.photograph" [settings]="cropperSettings"></img-cropper>
		</div>
	</div>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end" class=mt20>
	<button md-button [md-dialog-close]="false" type=button>Cancel</button>
	<button [ngStyle]='{"margin-left":"10px"}' md-raised-button color="primary" (click)="imageUpload()">Upload</button>
</md-dialog-actions>