<div fxLayout="row" class="m15" fxLayoutAlign="center center">
	<md-card fxFlex="100" fxFlex.sm="60" fxFlex.gt-sm="40">
		<md-card-title>Reset Password</md-card-title>
		<form [formGroup]="form" (ngSubmit)="forgot()" *ngIf="formResultMessage !== '' || formResult">
			<md-input-container class="md-block mb15">
				<input mdInput placeholder=Password type=password formControlName=password>
				<md-error *ngIf="password.hasError('required')">Password is required.</md-error>
				<md-error *ngIf="password.hasError('wrong') && !password.hasError('required')">Password not match.</md-error>
			</md-input-container>
			<md-input-container class="md-block mb15">
				<input mdInput placeholder="Confirm Password" type=password formControlName="confirm_password">
				<md-error *ngIf="confirm_password.hasError('required')">Confirm Password is required.</md-error>
				<md-error *ngIf="confirm_password.hasError('match') && !confirm_password.hasError('required')">Password not match.</md-error>
			</md-input-container>
			<div *ngIf="formResult" class="mb15 md-alert-success">
				Your password changed successfully. <a routerLink="/user/login">Login</a>
			</div>
			<div *ngIf="formResult == false" class="mb15 md-alert-danger">
				{{formResultMessage}}
			</div>
			<button md-raised-button color="primary" [disabled]="!form.valid" type="submit">Change Password</button>
		</form>
	</md-card>
</div>
