<div fxLayout="row" class="m15" fxLayoutAlign="center center">
	<md-card fxFlex="100" fxFlex.sm="60" fxFlex.gt-sm="40">
		<md-card-title>
			Register 
		</md-card-title>
		<md-card-content>
			<form [formGroup]="form" (ngSubmit)="register()">
				<md-input-container class="md-block mb15">
					<input mdInput  placeholder="Name" type="text" [formControl]="name" name=name>
					<md-error>Name is required.</md-error>
				</md-input-container>
				<md-input-container class="md-block mb15">
					<input mdInput placeholder="Email" type="email" [formControl]="email" name=email>
					<md-error *ngIf="email.hasError('required')">Email is required.</md-error>
					<md-error *ngIf="email.hasError('pattern') && !email.hasError('required')">Please enter a valid email.</md-error>
					<md-error *ngIf="email.hasError('notUnique')">This email is register with us. <a routerLink="/user/login">Click here to login.</a></md-error>
				</md-input-container>		
				<md-input-container class="md-block mb15">					
				  <input mdInput placeholder="Password" type="password" [formControl]="password" name=password>
				  <md-error *ngIf="password.hasError('required')">Password is required.</md-error>
				  <md-error *ngIf="password.hasError('pattern') && !password.hasError('required')">Password must be 8 characters including 1 uppercase letter, 1 special character, alphanumeric characters.</md-error>
				</md-input-container>
				<md-radio-group [formControl]=gender>
					<md-radio-button value="1" class=mr20>Male</md-radio-button>
					<md-radio-button value="2">Female</md-radio-button>
				</md-radio-group>
				<div class=mb30></div>
				<div layout=row class="mb30">
					<a md-button [mdMenuTriggerFor]="menu" class="fr">more options</a>
					<md-menu #menu="mdMenu">
						<a md-menu-item routerLink="/user/login"><md-icon class="material-icons">&#xE853;</md-icon> <span>Have an account.</span></a>			  
					</md-menu>				
				</div>
				<button md-raised-button color="primary" [disabled]="!form.valid" type="submit">Register</button>
			</form>
		</md-card-content>
	</md-card>
</div>