.user-image {
	background: #eee;
	padding: 20px 0;
	.user-image-wrapper {
		width:200px;
		height:200px;
		position:relative;
		margin:auto;
		border-radius:100%;
		overflow:hidden;
		@media screen and (max-width:599px) {
			width: 150px;
			height:150px;
		}
		>img {
			display:block;
			height:auto;
			max-width:100%;
			&.fade {
				opacity: 0.2;
			}
		}
		.edit, .mat-spinner {
			position: absolute;
		}
		.mat-spinner {			
			z-index: 2;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width:40px;
			
		}
		.edit {
			z-index: 1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,0.5);
			transform: scale(0);
			transition: 0.15s;
			border-radius:100%;
			text-align:center;
			>i {
				color: #FFF;
				cursor:pointer;
				margin: 76px 0;
				background: rgba(0, 0, 0, 0.37);
				padding: 12px;
				border-radius: 100%;
				transition: 0.3s;
				transform: scale(0);
				@media screen and (max-width:599px) {
					margin:54px 0;
				}
			}
		}
		&:hover .edit > i,
		&:hover .edit{
			transform: scale(1);
		}
	}
	
}