<div fxLayoutAlign="center center" class=mt20-gt-xs>
	<div fxFlex="100" fxFlex.sm="60" fxFlex.gt-sm="40">
		<md-card>
			<div md-card-image class="user-image">
				<div class="user-image-wrapper">
					<img *ngIf="data.user" [src]='data.user.photograph' [ngClass]="(imgLoading)? 'fade' : ''">
					<div class="edit">
						<i class="material-icons" (click)="imgChange()">&#xE251;</i>
					</div>
					<md-spinner *ngIf="imgLoading" color="warn" mode="indeterminate" strokeWidth="4"></md-spinner>
				</div>
			</div>
			<md-card-content style='margin:-24px -24px -24px'>
				<md-list class=large>
					<!-- Name -->
					<md-list-item>
						<span class=mat-list-key>Name</span>
						<span class='fill-remaining-space'></span>
						<span class=mat-list-value *ngIf="data.user">{{data.user.name}}</span>
						<button (click)='nameEdit = (nameEdit === true) ? false : true' md-icon-button class='ml30'>
							<md-icon *ngIf=!nameEdit>&#xE315;</md-icon><md-icon *ngIf=nameEdit>&#xE5CF;</md-icon>
						</button>
					</md-list-item>
					<md-divider *ngIf=nameEdit></md-divider>
					<md-list-item class='pt30 pb30 f7' *ngIf=nameEdit>Edit Name <span class='fill-remaining-space'></span>
						<form [formGroup]="form" (ngSubmit)="userUpdate({name:form.value.editname}, 'name')">
							<md-input-container>
								<input mdInput  placeholder='Enter Name' formControlName=editname value={{data.user.name}}>
							</md-input-container>
							<button md-icon-button class='ml30' type=submit><md-icon>check</md-icon></button>
						</form>	
					</md-list-item>
					<md-divider></md-divider>
					<!-- Username -->
					<md-list-item>
						<span class=mat-list-key>Username</span>
						<span class='fill-remaining-space'></span>
						<span class=mat-list-value *ngIf="data.user">{{data.user.username}}</span>
						<button (click)='usernameEdit = (usernameEdit === true) ? false : true' md-icon-button class=ml30>
							<md-icon *ngIf=!usernameEdit>&#xE315;</md-icon><md-icon *ngIf=usernameEdit>&#xE5CF;</md-icon>
						</button>
					</md-list-item>
					<md-divider *ngIf=usernameEdit></md-divider>
					<md-list-item class='pt30 pb30 f7' *ngIf=usernameEdit>Edit Username <span class='fill-remaining-space'></span>
						<form [formGroup]="form" (ngSubmit)="userUpdate({username:form.value.username}, 'username')">
							<md-input-container>
								<input mdInput  placeholder='Enter Username' formControlName=username value={{data.user.username}}>
							</md-input-container>
							<button md-icon-button class='ml30' type=submit><md-icon>check</md-icon></button>
						</form>	
					</md-list-item>
					<!-- Phone -->
					<md-divider></md-divider>
					<md-list-item>
						<span class=mat-list-key>Phone</span>
						<span class='fill-remaining-space'></span>
						<span class=mat-list-value *ngIf="data.user">{{data.user.phone}}</span>
						<button (click)='phoneEdit = (phoneEdit === true) ? false : true' md-icon-button class=ml30>
							<md-icon *ngIf=!phoneEdit>&#xE315;</md-icon><md-icon *ngIf=phoneEdit>&#xE5CF;</md-icon>
						</button>
					</md-list-item>
					<md-divider *ngIf=phoneEdit></md-divider>
					<md-list-item class='pt30 pb30 f7' *ngIf=phoneEdit>Edit Phone <span class='fill-remaining-space'></span>
						<form [formGroup]="form" (ngSubmit)="userUpdate({phone:form.value.phone}, 'phone')">
							<md-input-container>
								<input mdInput  placeholder='Enter Phone' formControlName=phone value={{data.user.phone}}>
							</md-input-container>
							<button md-icon-button class='ml30' type=submit><md-icon>check</md-icon></button>
						</form>	
					</md-list-item>
					<!-- Email -->
					<md-divider></md-divider>
					<md-list-item>
						<span class=mat-list-key>Email</span>
						<span class='fill-remaining-space'></span>
						<span class=mat-list-value *ngIf="data.user">{{data.user.email}}</span>
						<span class=mat-list-value *ngIf="!data.user">Add a email to complete your profile.</span>
						<button (click)='emailEdit = (emailEdit === true) ? false : true' md-icon-button class=ml30>
							<md-icon *ngIf=!emailEdit>&#xE315;</md-icon><md-icon *ngIf=emailEdit>&#xE5CF;</md-icon>
						</button>
					</md-list-item>
					<md-divider *ngIf=emailEdit></md-divider>
					<md-list-item class='pt30 pb30 f7' *ngIf=emailEdit>Edit Email <span class='fill-remaining-space'></span>
						<form [formGroup]="form" (ngSubmit)="userUpdate({email:form.value.email}, 'email')">
							<md-input-container>
								<input mdInput  placeholder='Enter Email' formControlName=email value={{data.user.email}}>
							</md-input-container>
							<button md-icon-button class='ml30' type=submit><md-icon>check</md-icon></button>
						</form>	
					</md-list-item>
					<!-- Gender -->
					<md-divider></md-divider>
					<md-list-item>
						<span class=mat-list-key>Gender</span>
						<span class='fill-remaining-space'></span>
						<span class=mat-list-value *ngIf="data.user">{{data.user.gender}}</span>
						<button (click)='genderEdit = (genderEdit === true) ? false : true' md-icon-button class=ml30>
							<md-icon *ngIf=!genderEdit>&#xE315;</md-icon><md-icon *ngIf=genderEdit>&#xE5CF;</md-icon>
						</button>
					</md-list-item>
					<md-divider *ngIf=genderEdit></md-divider>
					<md-list-item class='pt30 pb30 f7' *ngIf=genderEdit>Edit Gender <span class='fill-remaining-space'></span>
						<form [formGroup]="form" (ngSubmit)="userUpdate({gender:form.value.gender}, 'gender')">
							<md-select placeholder="Select Gender" formControlName=gender>
							  <md-option [value]="1">Male</md-option>
							  <md-option [value]="0">Female</md-option>
							</md-select>
							<button md-icon-button class='ml30' type=submit><md-icon>check</md-icon></button>
						</form>	
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</div>