<md-sidenav-container class=sidenav-container fullscreen>
	<md-sidenav #sidenav class="sidenav" mode=over>
		<md-toolbar color="primary" *ngIf=auth.loggedIn>		
			<h5>Menu</h5>		
			<span class="fill-remaining-space"></span>
			<button md-icon-button mdTooltip=Close (click)="sidenav.close()"><i class="material-icons">close</i></button>
		</md-toolbar>
		<md-nav-list (click)=sidenav.close()>
			<h3 md-subheader>Main Links</h3>
			<a md-list-item routerLink="/">
				<md-icon md-list-icon class=mr10>&#xE871;</md-icon> Dashboard
			</a>
			<a md-list-item routerLink="/">
				<md-icon md-list-icon class=mr10>&#xE871;</md-icon> Item 1
			</a>
			<a md-list-item routerLink="/">
				<md-icon md-list-icon class=mr10>&#xE871;</md-icon> Item 2
			</a>
		</md-nav-list>
	</md-sidenav>
	<header class=top-toolbar>
		<md-toolbar color="primary">		
			<button md-icon-button routerLink="/" *ngIf=!auth.loggedIn><md-icon>home</md-icon></button>
			<button md-icon-button (click)="sidenav.open()" class="material-icons" *ngIf=auth.loggedIn>menu</button>
			<span class="fill-remaining-space"></span>
			<button md-button class='p0 no-hover' [mdMenuTriggerFor]="menu" *ngIf=auth.loggedIn><md-icon>&#xE853;</md-icon> {{auth.user.name}}</button>		
			<button md-icon-button [mdMenuTriggerFor]="menu" *ngIf=!auth.loggedIn><md-icon>&#xE853;</md-icon></button>		
			<md-menu #menu="mdMenu">
				<a md-menu-item routerLink="/user/login" *ngIf=!auth.loggedIn><md-icon class="material-icons">&#xE853;</md-icon> <span>Log In</span></a>
				<a md-menu-item routerLink="/user/register" *ngIf=!auth.loggedIn><md-icon class="material-icons">&#xE897;</md-icon> <span>Don't have account.</span></a>
				<a md-menu-item routerLink='/user/profile' *ngIf=auth.loggedIn><md-icon>&#xE851;</md-icon> <span>My Account</span></a>
				<a md-menu-item routerLink='/user/logout' *ngIf=auth.loggedIn><md-icon class="material-icons">&#xE8AC;</md-icon> <span>Logout</span></a>
			</md-menu>
		</md-toolbar>
	</header>
	<main fxFill>
		<router-outlet></router-outlet>
	</main>
	<footer></footer>
</md-sidenav-container>



