/* Variables */
$mobile-width:768px;
$sidenav-width: 320px;
$sidenav-width-small: 280px;

md-sidenav-container {
	.sidenav {
		width:$sidenav-width;
		@media screen and (max-width: $mobile-width) {
			width:$sidenav-width-small;
		}
	}
}