<h2 md-dialog-title>Forgot Password</h2>
<form [formGroup]="form" (ngSubmit)="save()">
<md-dialog-content>
	<div class='mb10'>
		<md-input-container class="md-block">
			<input mdInput type=email placeholder='Enter your email' formControlName=email>
			<md-error *ngIf="email.hasError('required')">Email is required.</md-error>
			<md-error *ngIf="email.hasError('pattern') && !email.hasError('required')">Please enter a valid email.</md-error>
			<md-error *ngIf="email.hasError('wrong') && !email.hasError('required') && !email.hasError('pattern')">This email is not registered with us.</md-error>
		</md-input-container>
		<div fxLayout="row" fxLayoutAlign="center" *ngIf="formSubmitting">
			<md-spinner color="warn" mode="indeterminate" strokeWidth="3" [ngStyle]="{'width':'50px'}"></md-spinner>
		</div>
		<div fxLayout="row" fxLayoutAlign="center" *ngIf="formSubmitting == false">
			{{message}}
		</div>
	</div>
</md-dialog-content>
<md-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button md-button [md-dialog-close]="false" type=button>Cancel</button>
  <button [ngStyle]='{"margin-left":"10px"}' md-raised-button color="primary" [disabled]="!form.valid || formSubmitting" type="submit">Forgot Password</button>
</md-dialog-actions>
</form>
