<section class="content-wrapper p20">
	<div fxFlexLayout=row fxLayoutAlign="center center">
		<md-card fxFlex.xs="100" fxFlex.sm="60" fxFlex.gt-sm="50">
			<md-card-title>
				Login
			</md-card-title>
			<md-card-content>
				<form [formGroup]="form" (ngSubmit)="login()">
					<md-input-container class="md-block mb15">
						<input mdInput type="email" placeholder='Enter your email' formControlName=email>
						<md-error *ngIf="email.hasError('required')">Email is required.</md-error>
						<md-error *ngIf="email.hasError('wrong') && !email.hasError('required')">This email is not registered with us.</md-error>
					</md-input-container>
					<md-input-container class="md-block mb15">
						<input mdInput placeholder=Password type=password formControlName=password>
						<md-error *ngIf="password.hasError('required')">Password is required.</md-error>
						<md-error *ngIf="password.hasError('wrong') && !password.hasError('required')">Password not match.</md-error>
					</md-input-container>
					<div layout=row class="mb30">
						<md-checkbox formControlName=remember>Remember Me</md-checkbox>
						<a md-button [mdMenuTriggerFor]="menu" class="fr">more options</a>
						<md-menu #menu="mdMenu">
							<a md-menu-item routerLink="/user/register"><md-icon class="material-icons">&#xE853;</md-icon> <span>Don't have account.</span></a>
							<a md-menu-item (click)="requestForgotPassword()"><md-icon class="material-icons">&#xE897;</md-icon> <span>Forgot password?</span></a>
						</md-menu>
					</div>
					<button md-raised-button color="primary" [disabled]="!form.valid" type="submit">Login</button>
				</form>
			</md-card-content>
		</md-card>
	</div>
</section>
